{% extends 'base.html.twig' %}

{% block title %}Hello MissionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Tableau des missions - AIDSH</h1>

    <table>
    {% for mission in missions %}
        <tr>
            <td>{{ mission.name }}</td>
            <td>Date</td>
            <td>{{ mission.priority }}</td>
            <td>{{ mission.status }}</td>
            <td>
                <a href="{{ path('mission_details', {'id': mission.id}) }}">See more</a>
                <a href="">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
