{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Super Heroes List</h1>
    <a href="{{ path('create_user') }}">Add a super hero</a>

    <table>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>
                    <a>Edit</a>
                    <a href="{{ path('delete_user', {'id': user.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
